<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(APP_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.5.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>LaiFengXJD</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>LaiFengXJD</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ChaoHengHuaLoan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ChaoHengHuaLoan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>YongBeiLoan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>YongBeiLoan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>HaiLiangHuaLoan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>HaiLiangHuaLoan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kuaibeiLoan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kuaibeiLoan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>YouLaiHuaLoan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>YouLaiHuaLoan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>JiDaiBaoLoan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>JiDaiBaoLoan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>MengXiangLoan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>MengXiangLoan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>XiaoDaiShuLoan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>XiaoDaiShuLoan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>XiaoHuangYuLoan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>XiaoHuangYuLoan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>XiaoKouLoan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>XiaoKouLoan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>XinYiDai</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>XinYiDai</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>TaoMiDai</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>TaoMiDai</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>JieLaiHua</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>JieLaiHua</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>XiaoEDai</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>XiaoEDai</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>获取媒体资料</string>
	<key>NSCameraUsageDescription</key>
	<string>我们需要通过您的相机进行拍摄</string>
	<key>NSContactsUsageDescription</key>
	<string>我们需要通过您的通讯录权限获取信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>程序在运行期间获取用户定位信息以推送本地资讯</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>授权我们访问您的相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要通过您的相册获取相关相册</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen_KB</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
